/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

body
{
    background-color:#f0ebeb !important;


}


.prueba{
    max-width: 692px;
    margin: 0 auto;
}
.fa-globe{
    color: #ffff;
}
.fa-paw, .fa-retweet , .tweet-time, .edit, .destroy {
    color:#17a2b8 ;
}
.rounded-circle{
    max-width: 150px;
    margin: 15px;
    margin-left: 70px;

}

.logo-title> a{
    text-decoration: none
}

.logo-title> a:hover{
    text-decoration: none;
    background:none ;
    color:#ffff
}

.navbar-collapse{
    margin-left:980px;
}

.form-inline >.btn-outline-primary {
    color: #fff;
    border: none;
    background: #666;
}


form input[type="submit"]{
    border-radius: 0px;
}

form input[type="submit"]:hover{
    background:none
}

.field > #tweet_content{
    width: 20%;
}

form >.actions{
    border:none
}

.card-tweet > ul{
    margin-left: -27px;
    margin-top: 11px
}

.card-tweet > ul >a:hover{
    background:none
}

.followers{
    margin-left: 254px;
    margin-top: 3px;
}

.container-followers{
    margin-top: 17px;
    color: #666;
    font-size: 18px;
    font-weight: 600;
}
.container-followers > .div-following{
    display: inline-block;
    margin-left: 10px;
}
.container-followers > .div-followers{
    display: inline-block;
}

.navbar-collapse >.navbar-nav> .user-online {
    margin-top: 8px;
    font-size: 15px;
    margin-top:12px
}
