<nav class="navbar navbar-expand-lg navbar-light p-3 mb-2 bg-info text-white" >
    <div class="">
    <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
      <i class="fa-3x logo-title" > <%=link_to 'Twitter To Pets', root_path %></i>
    </div>  
    <div class="row justify-content-between"  style="    margin-left: 1300px;">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <%if current_user %>
              <li class="nav-item mx-3 "> 
                <a class="nav-link"> <%=link_to 'Sign Out', destroy_user_session_path, method: :delete %></a>
              </li>
            <% else %>

            <li class="nav-item mr-3">
              <a class="nav-link"> <%=link_to 'Registration', new_user_registration_path %></a>
            </li>

            <li class="nav-item mr-3 pb-3 "> 
              <a class="nav-link"> <%=link_to 'Sign In', user_session_path %></a>
            </li>
            <% end %>
          </ul>
            <div>
              <form class="form-inline">
                <input class="form-control" type="search" placeholder="Search Twitter" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
              </form>
          </div>
        </div>
      </div>
</nav>
